/* CSS declarations go here */

.bootstrap-select.show>.dropdown-menu>.dropdown-menu {
    display: block;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li.hidden {
    display: none;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li a {
    display: block;
    width: 100%;
    padding: 3px 1.5rem;
    clear: both;
    font-weight: 400;
    color: #292b2c;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
}

@media (max-width: 576px) {
    .tickets-desktop {
        display: none !important;
    }
    .message-container {
        border-bottom: 1px solid lightgray;
 
    }
}

@media (min-width: 576px) {
    .tickets-mobile {
        display: none !important;
    }
}

.message-container {
    margin-top: 0px !important;
    padding-top: 15px;
    padding-bottom: 0px;
}

.ticket-mobile-container {
    cursor: pointer;
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px !important;
}

.col-title {
    font-weight: bold;
    font-size: 18px;
}

.row {
    margin-top: 5px;
    vertical-align: middle;
}

.status {
    font-size: 18px !important;
}

.message-sender {
    color: gray;
}

.message-date {
    color: gray;
}

.col-centered {
    text-align: center;
}

.site-title {
    color: black;
    font-size: 20px;
}

.info-title {
    margin-top: 30px;
    color: black;
    font-size: 24px;
}

.column-sort {
    cursor: pointer;
}

.icon-small {
    font-size: 14px;
}

.column-title {
    font-weight: bold;
    text-align: center;
}

.col-right {
    text-align: right;
}

.col-center {
    text-align: center;
}

.column-bold {
    font-weight: bold;
}

.bg-green {
    background-color: #80CC99;
}

.green {
    color: green;
}

.red {
    color: red;
}

.voffset5 {
    margin-top: 5px;
}

.voffset30 {
    margin-top: 30px;
}

.voffset50 {
    margin-top: 50px;
}

.voffset200 {
    margin-top: 200px;
}

.voffset15 {
    margin-top: 15px;
}

.vbottom15 {
    margin-bottom: 15px;
}

body {
    font-size: 18px;
}

.main-row {
    margin: 0;
    padding: 0;
}

.main-col {
    background-color: white;
    padding-bottom: 50px;
}

#purchase {
    font-weight: bold;
    font-size: 28px;
}

#purchase-paypal {
    font-weight: bold;
    font-size: 28px;
}

.total-name {
    font-size: 28px;
}

.total-amount {
    font-size: 28px;
    text-align: right;
}

.checkout-title {
    font-size: 28px;
    text-align: left;
}

@media (min-width: 1024px) {
    .row-checkout-title {
        position: relative;
    }
    .help-title {
        text-align: right;
        vertical-align: bottom;
        position: absolute;
        bottom: 20px;
        right: 0;
    }
}

@media (max-width: 1024px) {
    .help-title {
        display: none;
    }
}

.purchase-confirmed {
    font-size: 24px;
}

.download-link {
    font-size: 24px;
    text-align: center;
}

#product-id {
    display: none;
}

.red {
    color: red;
}

.orange {
    color: orange;
}

.badge-tickets {
    background-color: white !important;
    color: black !important;
}

.fa-delete {
    color: gray;
    cursor: pointer;
    vertical-align: middle;
}

.fa-delete:hover {
    color: red;
}

.btn {
    cursor: pointer;
}

#template-selector {
    margin-top: 10px;
    margin-bottom: 10px;
}
